<!-- <mat-toolbar class="toolbar">
  <div class="toolBarButton">
    <button 
    mat-flat-button color="primary" class="biggerbutton" routerLinkActive="mat-accent" routerLink="home">Home</button>
  </div>
  <div class="toolBarButton">
    <button 
    mat-flat-button color="primary" class="biggerbutton" routerLinkActive="mat-accent" routerLink="about-us">About</button>
  </div>
</mat-toolbar> -->
<nav class="navbar">
  <a [routerLink]="['/']" routerLinkActive="active-link">Home</a>
  <a [routerLink]="['/about-us']" routerLinkActive="active-link">About Us</a>
  <a [routerLink]="['/contact-us']" routerLinkActive="active-link">Contact Us</a>
  <a [routerLink]="['/login']" routerLinkActive="active-link">Login</a>
</nav>

<router-outlet></router-outlet>